* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: var(--main-blue);
    font-family: sans-serif;
}

:root {
    --header-height: 76px;
    --main-blue: #015ca1;
    --header-padding: 30px;
    --dark-blue: #243b53;
    --bg-color: #f8f9fa;
    --max-width: 1600px;
}

body {
    background-color: var(--bg-color);
    max-width: 1600px;
    margin: 0 auto;
}

body > header {
    height: var(--header-height);
    background-color: white;
    /* padding: 0 var(--header-padding); */
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 2px -3px !important;
}

body > header > div {
    max-width: 1600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

body > header img {
    width: 165px;
}

body > header ul {
    display: flex;
    gap: 25px;
    font-size: 1rem;
}

body > header ul li:first-child {
    font-weight: 600;
}

li a:hover {
    cursor: pointer;
    text-shadow: 0 0 0.65px var(--dark-blue), 0 0 0.65px var(--dark-blue);
}

.social {
    position: absolute;
    left: calc(50% + 800px - 40px);
    transform: translateX(-100%);
}

.social i {
    font-size: 30px;
}

main {
    padding-top: var(--header-height);
}

.banner-container {
    position: relative;
}

.banner-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000 0%, #0000000A 16%, #00000021 29%, #00000042 41%, #0000006B 51%, #00000094 61%, #000000BD 70%, #000000DE 79%, #000000F5 89%, #000000FF 100%);
    top: 0;
    left: 0;
    z-index: 0;
}

.banner-container img {
    width: 100%;
}

.banner-container > p {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.6;
    z-index: 1;
}

.banner-container > p, .banner-container > p * {
    color: white;
}

#avatar-logo {
    width: 450px;
    position: absolute;
    bottom: 20%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: translateX(-50%) scale(0);
        transform: translateX(-50%) scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: translateX(-50%) scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: translateX(-50%) scale(0.5);
        transform: translateX(-50%) scale(0.5);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2s;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
  